<div ng-controller="adminPageController" ng-init="initCustomers();">
<div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 50px;">
<div class="col-md-12">
<div class="card" style="min-height: 300px!important;">
<div class="card-header">
	<h4 class="card-title">General info about customers</h4>
</div>
<div class="card-content" style="padding: 0 15px 10px 15px;">
<div class="row">
	<div class="col-md-4">
		<div>
			<h4>Select customer</h4>
		</div>
		<select ng-model="selectedCustomerId"
		        style="min-width: 50%;">
			<option ng-repeat="c in customers"
			        value="{{c.customer.id}}">
				{{c.customer.name}}
			</option>
		</select>
							
		<button class="btn btn-facebook btn-fill btn-sm"
		        ng-click="selectCustomer();">
			Select
		</button>
	</div>
	<div class="col-md-8">
		<div class="pull-right">
			<button class="btn btn-facebook btn-fill btn-sm"
			        ng-click="addCustomer();">
				Add Customer
			</button>
		</div>
	</div>
</div>
					
<div class="card-content table-responsive table-full-width">
	
</div>

<hr/>
<div class="card-header" ng-hide="!show">
	<h4 class="card-title">Customer Contacts</h4>
	<div class="pull-right">
		<button class="btn btn-facebook btn-fill btn-sm"
		        ng-click="addContact();">
			Add Contact
		</button>
	</div>
</div>
<div class="card-content table-responsive table-full-width" ng-hide="!show">
	<table class="table">
		<thead>
		<tr style="text-align: center; vertical-align: middle">
			<th>
				<a href="">#</a>
			</th>

			<th>
				<a href="">Name</a>
			</th>

			<th>
				<a href="">Role</a>
			</th>

			<th>
				<a href="">Email</a>
			</th>

			<th>
				<a href="">Phone</a>
			</th>
		</tr>
		</thead>

		<tbody>
		<tr style="text-align: center; vertical-align: middle"
		    ng-repeat="item in contacts track by $index">
			<td>
				<form class="form-inline">
					<div class="form-group" style="width: 15% !important;">
						{{$index+1}}
					</div>
					<div class="form-group" style="width: 20% !important;">
						<a ng-click="deleteContact($index, item.id);">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</td>
			<td>
				<input type="text" class="form-control white-input-no-border"
				       placeholder="Name"
				       ng-model="item.name"/>
			</td>
			<td>
				<input type="text" class="form-control white-input-no-border"
				       placeholder="Role"
				       ng-model="item.role" />
			</td>
			<td>
				<input type="text" class="form-control white-input-no-border"
				       placeholder="Email"
				       ng-model="item.email" />
			</td>
			<td>
				<input type="text" class="form-control white-input-no-border"
				       placeholder="Phone"
				       ng-model="item.phone" />
			</td>
		</tr>
		</tbody>
	</table>
</div>

					
<hr/>
<div class="card-header" ng-hide="!show">
	<h4 class="card-title">Customer Departments</h4>
	<div class="pull-right">
		<button class="btn btn-facebook btn-fill btn-sm"
		        ng-click="addDepartment();">
			Add Department
		</button>
	</div>
</div>
<div class="card-content" style="padding: 0 15px 10px 15px;">
	<div class="card-content table-responsive table-full-width" ng-hide="!show">
		<table class="table">
			<thead>
			<tr style="text-align: center; vertical-align: middle">
				<th>
					<a href="">#</a>
				</th>

				<th>
					<a href="">Name</a>
				</th>

				<th>
					<a href="">Address</a>
				</th>

				<th>
					<a href="">Manager</a>
				</th>
			</tr>
			</thead>

			<tbody>
			<tr style="text-align: center; vertical-align: middle"
			    ng-repeat="item in departments track by $index">
				<td>
					<form class="form-inline">
						<div class="form-group" style="width: 15% !important;">
							{{$index+1}}											
						</div>
						<div class="form-group" style="width: 20% !important;">
							<a ng-click="deleteDepartment($index, item.id);">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</div>
					</form>
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Name"
					       ng-model="item.name" />
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Address"
					       ng-model="item.address" />
				</td>
				<td>
					<select class="form-control white-input-no-border"
					        ng-model="item.manager.userId"
					        style="width: 98% !important;">
						<option ng-repeat="u in users"
						        value="{{u.id}}">
							{{u.name}}
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
	

<hr/>
<div class="card-header" ng-hide="!show">
	<h4 class="card-title">Customer Users</h4>
	<div class="pull-right">
		<button class="btn btn-facebook btn-fill btn-sm"
		        ng-click="addUser();">
			Add User
		</button>
	</div>
</div>
<div class="card-content" style="padding: 0 15px 10px 15px;">
	<div class="card-content table-responsive table-full-width" ng-hide="!show">
		<table class="table">
			<thead>
			<tr style="text-align: center; vertical-align: middle">
				<th>
					<a href="">#</a>
				</th>

				<th>
					<a href="">Name</a>
				</th>

				<th>
					<a href="">Email</a>
				</th>

				<th>
					<a href="">Mobile</a>
				</th>

				<th>
					<a href="">UserName</a>
				</th>

				<th>
					<a href="">Password</a>
				</th>

				<th>
					<a href="">Department</a>
				</th>
			</tr>
			</thead>

			<tbody>
			<tr style="text-align: center; vertical-align: middle"
			    ng-repeat="item in users track by $index">
				<td>
					<form class="form-inline">
						<div class="form-group" style="width: 15% !important;">
							{{$index+1}}											
						</div>
						<div class="form-group" style="width: 20% !important;">
							<a ng-click="deleteUser($index, item.id);">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</div>
					</form>
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Name"
					       ng-model="item.name" />
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Email"
					       ng-model="item.email" />
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Mobile"
					       ng-model="item.mobile" />
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="userName"
					       ng-model="item.userName" />
				</td>
				<td>
					<input type="text" class="form-control white-input-no-border"
					       placeholder="Password"
					       ng-model="item.password" />
				</td>
				<td>
					<select class="form-control white-input-no-border"
					        ng-model="item.department.id"
					        style="width: 98% !important;">
						<option ng-repeat="d in departments"
						        value="{{d.id}}">
							{{d.name}}
						</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
	

<div class="form-inline" 
     style="margin-top: 100px; text-align: center;"
	 ng-hide="!show">
	<button class="btn btn-success btn-fill btn-sm"
	        ng-click="apply();">
		Apply
	</button>
	<button class="btn btn-danger btn-fill btn-sm"
	        ng-click="cancel();">
		Cancel
	</button>
</div>
</div>
</div>
</div>
</div>
</div>