<div ng-controller="contactEditController">
	<div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 50px;">
		<div class="col-md-12">
			<div class="card" style="min-height: 300px!important;">
				<div class="card-header">
					<div class="pull-right">

					</div>
					<h4 class="card-title">Contact Edit</h4>
				</div>
				<div class="card-content" style="padding: 0 15px 10px 15px;">
					<div class="row">
						<div class="col-md-12" style="margin-top: 50px;">
							<form class="form-group" style="text-align: center;">
								<div class="form-inline">
									<div class="form-group">
										<label for="contactName">Name</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control white-input-no-border" id="contactName"
											   ng-model="editable.Name"/>
									</div>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<label for="contactRole">Role</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control white-input-no-border" id="contactRole"
											   ng-model="editable.Role"/>
									</div>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<label for="contactPhone">Phone</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control white-input-no-border" id="contactPhone"
										       ng-model="editable.Phone"/>
									</div>
								</div>
								<div class="form-inline">
									<div class="form-group">
										<label for="contactEmail">Email</label>
									</div>
									<div class="form-group">
										<input type="text" class="form-control white-input-no-border" id="contactEmail"
											ng-model="editable.Email"/>
									</div>
								</div>
								<div class="form-inline" style="margin-top: 10px;">
									<button class="btn btn-success btn-fill btn-sm"
									        ng-click="apply();">
										Apply
									</button>
									<button class="btn btn-danger btn-fill btn-sm"
									        ng-click="cancel();">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>