<div ng-controller="departmentController" ng-init="initDepartments();">
	<div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 50px;">
		<div class="col-md-12">
			<div class="card" style="min-height: 300px!important;">
				<div class="card-header">
					<h4 class="card-title">Departments</h4>
					<div class="pull-right">
						<button class="btn btn-facebook btn-fill btn-sm"
							ng-click="addDepartment();">
							Add Department
						</button>
					</div>
				</div>
				<div class="card-content" style="padding: 0 15px 10px 15px;">
					<div class="card-content table-responsive table-full-width" ng-show="showDepartments">
						<table class="table">
							<thead>
							<tr style="text-align: center; vertical-align: middle">
								<th>
									<a href="">#</a>
								</th>

								<th>
									<a href="">Name</a>
								</th>

								<th>
									<a href="">Address</a>
								</th>

								<th>
									<a href="">Manager</a>
								</th>
							</tr>
							</thead>

							<tbody>
							<tr style="text-align: center; vertical-align: middle"
							    ng-repeat="item in departments track by $index">
								<td>
									<form class="form-inline">
										<div class="form-group" style="width: 15% !important;">
											{{$index+1}}											
										</div>
										<div class="form-group" style="width: 20% !important;">
											<a ng-click="editDepartment(item);">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</a>
										</div>
										<div class="form-group" style="width: 20% !important;">
											<a ng-click="deleteDepartment(item.id);">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</a>
										</div>
									</form>
								</td>
								<td>{{item.name}}</td>
								<td>{{item.address}}</td>
								<td>{{item.manager}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>