<div ng-controller="userController">
	<div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 50px;">
		<div class="col-md-12">
			<div class="card" style="min-height: 300px!important;">
				<div class="card-header">
					<h4 class="card-title">Users</h4>
					<div class="pull-right">
						<button class="btn btn-facebook btn-fill btn-sm"
								ng-click="addUser();">
							Add User
						</button>
					</div>
				</div>
				<div class="card-content" style="padding: 0 15px 10px 15px;">
					<div class="card-content table-responsive table-full-width">
						<table class="table">
							<thead>
								<tr style="text-align: center; vertical-align: middle">
									<th>
										<a href="">#</a>
									</th>

									<th>
										<a href="">Name</a>
									</th>

									<th>
										<a href="">Email</a>
									</th>

									<th>
										<a href="">Mobile</a>
									</th>

									<th>
										<a href="">UserName</a>
									</th>

									<th>
										<a href="">Password</a>
									</th>

									<th>
										<a href="">Department</a>
									</th>
								</tr>
							</thead>

							<tbody>
							<tr style="text-align: center; vertical-align: middle"
							    ng-repeat="item in users track by $index">
								<td>
									<form class="form-inline">
										<div class="form-group" style="width: 15% !important;">
											{{$index+1}}											
										</div>
										<div class="form-group" style="width: 20% !important;">
											<a ng-click="editUser(item);">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</a>
										</div>
										<div class="form-group" style="width: 20% !important;">
											<a ng-click="deleteUser(item.Id);">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</a>
										</div>
									</form>
								</td>
								<td>{{item.Name}}</td>
								<td>{{item.Email}}</td>
								<td>{{item.Mobile}}</td>
								<td>{{item.UserName}}</td>
								<td>{{item.Password}}</td>
								<td>{{item.Department}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>